<div class="container">
  <h1>Stupid Coaching</h1>
  <form action="/answer" method="get">
    <label for="question">Ask your coach anytyhing:</label>
    <div class="form-group">
      <input class="form-control" type="text" name="question">
      <input class="button" type="submit" value="Ask!">
    </div>
  </form>
</div>
